*
{
	box-sizing: border-box;
	font-size: 1rem;
}
body
{
	font-family: Arial;
	line-height: 1.5;
	margin: 0px;
}
h1,h2,h3,h4,h5,h6
{
	font-family: serif;
}
a
{
	color: inherit;
	text-decoration: none;
}
.container
{
	max-width: 50rem;
	width: auto;
	padding: 0px 15px;
	margin: 0 auto;
}
#main-content
{
	padding: 50px 0px;
}
.subform
{
	width:100%;
	padding: 20px 0px;	


}
.formgroup.name,.formgroup.email
{
	width:49%;
	display: inline-block;
}
.formgroup
{
	padding:10px;
}
.formgroup input,.formgroup textarea
{
	padding:10px;
	width:100%;
}
.formgroup.msg
{
	width:100%;
}
label
{
	display: block;
	text-align: left;
	font-weight: bold;
}
fieldset
{
	
	background-color: #ddd;
	text-align: left;
	border-color:#eee;
}
legend
{
	background-color: #f5f5f5;
	border:1px solid #ccc;
	padding:15px;
	text-align: left;
	font-weight: bold;
	font-size:2rem;
}
.formgroup .submit
{
	background-color:#6495ED;
	color:white;
	border:0px;
	padding:10px 25px;
	width:auto;
}


@media(max-width: 25rem)
{
	*
	{
		font-size: 1rem;
		text-align: center;
	}
	.formgroup.name,.formgroup.email
	{
		width:100%;
		display:block;
	}
	.formgroup .submit
	{
		
		color:white;
		border:0px;
		padding:10px 25px;
		width:100%;
	}
	
}
